
/*BASE*/
body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #849d8f;
    color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*BUTTONS*/
.button {
    display: inline-block;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;

    border: none;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
    border-radius: 50px;
}

.button:hover,
.button:focus
 {
    background-image: linear-gradient(to top, #ed7052, #f58669); 
    box-shadow: 0px 2px 2px 0 #ac1000;
    color: #ffffff;
}

.button:active {
    background-image: linear-gradient(to top, #e0603e, #c63e2b);
    box-shadow: inset 0px 2px 2px 0 #942718;
    color: #ffffff;
}

/*HEADER*/

.main-header {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/*MAIN MENU*/
.main-header-logo {
    margin-left: 26px;
    margin-top: 10px;
}

.main-navigation { 
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    position: relative;
    margin-left: -212px;
    margin-top: 10px;

    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
   margin-left: -17px;
   margin-top: 10px;
}

.main-menu,
.sub-menu {
    list-style: none;
}

.main-menu a,
.sub-menu a,
.custom-menu a {
    display: block;
    padding: 9px 13px;
    
    vertical-align: middle;
    color: #ffffff;
}

.main-menu a:hover,
.main-menu a:focus{
    color: #000000;
    background-color: #f7f6f3;
    border-radius: 50px;
    text-decoration: none;
}

.main-menu a:active {
    background-color: #ededed;
    box-shadow: inset 0px 2px 1px 0 #696969;
    border-radius: 15px;
}

.active > a {
    text-decoration: none;
    background-color: #d07058;
    border-radius: 50px;
}

/*SUB MENU*/
.sub-menu {
    position: absolute;
    top: 40px;
    left: 32px;
    
    width: 143px;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    padding: 13px 0 5px;
    z-index: 10;
    
    display: none;  
}

.catalog:hover .sub-menu,
.catalog:focus .sub-menu,
.catalog:active .sub-menu{
    display: block;
}

.imp-item {
    position: relative;
    padding: 0 10px 13px 20px;
    margin-top: -4px;
    text-align: left;
}

.imp-item::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 5px;
    width: 128px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2)  
}

.sub-menu a {
    text-decoration: none;
    font-weight: normal;
    line-height: 14px;
    text-align: left;
    color: #323232;
    padding: 10px 20px 8px;
}

.sub-menu a:hover,
.sub-menu a:focus {
    background-color: #fbded7;
    border-radius: 0;
}

.sub-menu a:active {
    background-color: #f6b5a5;
    box-shadow: none;
}


.sub-active a{
    background-color: #d07058;
    color: #ffffff;
}

/*CUSTOM MENU*/
.custom-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    min-width: 263px;
    margin-top: 23px;
    padding-right: 27px;
}

.custom-menu a{  
    display: block;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    border-radius: 50px;
}

.custom-menu a:hover,
.custom-menu a:focus,
.search-icon:hover,
.search-icon:focus {
    color: #323232;
    background-color: #f8f7f4;
}

/*SEARCH*/
.search a {
    margin: 0;
    padding: 6px 8px;
}

.search-button:hover path,
.search-button:focus path {
    fill: black;
}

.search {
    position: relative;    
}

.sub-search {
    position: absolute;
    top: 35px;
    right: 0;
    width: 341px;
    min-height: 84px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 10;
    
    display: none;
}

.search:hover .sub-search,
.search:focus .sub-search {
    display: block;
}

.search-box {
    margin: 20px 15px; 
    width: 310px;
    height: 44px;
    padding: 0 14px;
    background-color: #ffffff;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    outline: 0;
}

.search-box:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding: 0 13px;

}

.search-box:active,
.search-box:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding: 0 13px;

}

/*LOGIN*/
.login a{
    padding: 6px 16px 7px;
}

.login-button {
    vertical-align: middle;
    padding-right: 7px;
}

.login:hover path,
.login:focus path {
    fill: black;
}

.login span {
    vertical-align: middle;
}

.login {
    position: relative;
    margin-left: 10px;
}

.sub-login {
    position: absolute;
    top: 35px;
    right: 0;
    width: 276px;
    min-height: 214px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 10;
    
    display: none;
}

.login:hover .sub-login,
.login:focus .sub-login {
    display: block;
}

.login-box {
    margin: 20px 17px 0 19px;
    width: 211px;
    min-height: 42px;
    padding: 1px 13px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #d3d3d2;
    outline: 0;
    
}

.login-box:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding: 0 12px;
}

.login-box:active,
.login-box:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding: 0 12px;
}

.sub-login a {
    font-size: 13px;
    line-height: 22px;
    font-weight: normal;
    color: #323232;
    text-decoration: underline;
    text-align: left;
    background-color: #f8f7f4;
    margin: 0;
    margin-left: 140px;
    padding: 0;  
}

.sub-login a:nth-of-type(1) {
    margin-top: 25px;
}

.sub-login  a:hover,
.sub-login  a:focus,
.sub-login  a:active {
    color: #e84d37;
}

.exit-button {
    margin: 0;
    padding: 12px 23px;
    font-size: 18px;
    margin-top: -43px;
    margin-right: 137px;
}

/*BASKET*/
.basket {
    margin-left: 8px;
}

.basket a {
    padding: 7px 16px 6px;
}

.basket-button {
    vertical-align: middle;
    padding-right: 7px;
}

.basket:hover g,
.basket:focus g {
    fill: black;
}

.basket span {
    vertical-align: middle;
}

.basket-red {
    position: relative;
    margin-left: 9px;
}

.basket-red a {
    display: block;
    color: #323232;
    padding: 8px 17px;
    padding-left: 43px;
    background-color: #ffffff;
    border-radius: 50px;
}

.basket-red::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 16px;
    
    width: 21px;
    height: 19px;
    background-image: url("../img/basket-red.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket-contents {
    position: absolute;
    top: 37px;
    right: 0;
    width: 540px;
    min-height: 240px;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    font-size: 13px;
    line-height: 16px;
    color: #323232;
    z-index: 10;
    
    display: none;
}

.basket-red:hover .basket-contents,
.basket-red:focus .basket-contents {
    display: block;
}

table {
    position: relative;
    margin: 15px 30px 39px 26px;
}

table::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: -13px;
    width: 510px;
    height: 1px;
    background-color: #cacac7;
}

.first-close {
    position: absolute;
    top: 10px;
    left: -39px;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-color: transparent;
    border: 0;
}

.first-close::before,
.first-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;
  width: 16px;
  height: 1px;

  background-color: #323232;
}

.second-close {
    position: absolute;
    top: 63px;
    left: -39px;
    width: 17px;
    height: 17px;
    font-size: 0;
    background-color: transparent;
    border: 0;
}

.second-close::before,
.second-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;
  width: 16px;
  height: 1px;

  background-color: #323232;
}

.item-close::before {
  transform: rotate(45deg);
}

.item-close::after {
  transform: rotate(-45deg);
}

table td {
    text-align: center;
    vertical-align: top;
    padding-bottom: 22px;
    margin-left: 10px;
    padding-top: 10px;
}

table td:nth-child(2) {
    width: 52px;
    padding-bottom: 16px; 
    padding-top: 0px;
}

table td:nth-child(3) {
    width: 225px;
    text-align: left;
    padding-right: 10px;
}

table td:nth-child(4) {
    width: 110px;
    padding-right: 17px;
}

tr {
    margin: 0;
    height: 33px;        
}

.sum {
    font-size: 15px;
    font-weight: bold;
    margin-top: -35px;
    padding-left: 402px;
}

.basket-full-button {
    padding: 13px 15px;
    margin-left: 336px;
    margin-bottom: 20px;
}
    
/*WORKING INFO*/

.working-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 27px;
    margin-top: -5px;

}

.working-info p {
    font-size: 14px;
    line-height: 16px;
    
    margin: 0;
    margin-bottom: 5px;
}

.working-info .phone {
    
    line-height: 24px;
    font-size: 22px;
}

/*MAIN*/
.site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/icecream-1.png");
    background-repeat: no-repeat;
    background-position: top center;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/icecream-2.png");
}

.site-wrapper::after {
  background-image: url("../img/icecream-3.png");
}

.container {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/*CARUSEL*/
.carusel {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
    margin: 0 27px;
}

.carusel-items {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.item {
  display: none;
}

.slide-title {
    width: 700px;
    margin: -78px auto;
    margin-bottom: 30px;
  
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;   
}

.big-button {
    display: inline-block;
    padding: 12px 44px;
    margin-bottom: 40px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    
    cursor: pointer;
}

.big-button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.big-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 62px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream-3.png");
}

#product-1:checked ~ .site-wrapper #slide-1,
#product-2:checked ~ .site-wrapper #slide-2,
#product-3:checked ~ .site-wrapper #slide-3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/*OFFERS*/
.offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0 27px;
    margin-bottom: 40px;
}

.offer {
    border-radius: 15px;
    width: 560px;
    min-height: 229px;
}

.offer h2 {
    margin: 0;
    font-size: 35px;
    padding: 18px 18px 0 20px;
}

.offer p {
    font-size: 18px;
    padding: 0 18px 10px;
    line-height: 21px;
    font-weight: bold;
}

.raspberries {
    background: #651525 url("../img/raspberry-bg.jpg") no-repeat;
    position: relative;
}

.chocolate {
    background: #553d32 url("../img/chocolate-bg.jpg") no-repeat;
    position: relative;
}

.offer-button {
    position: absolute;
    bottom: 23px;
    right: 21px;
    
    padding: 12px 22px;
    font-size: 18px;

    display: inline-block;

    text-align: center;
    font-weight: bold;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;

    border: none;
    background-image: linear-gradient(to top, #ca3824, #f26843);
    box-shadow: 0px 2px 2px 0 rgba(85, 8, 0, 0.54);
    border-radius: 50px;
}

.offer-button:hover,
.offer-button:focus {
    background-image: linear-gradient(to top, #ed7052, #f58669); 
    box-shadow: 0px 2px 2px 0 #ac1000;
    color: #ffffff;
}

.offer-button:active {
    background-image: linear-gradient(to top, #e0603e, #c63e2b);
    box-shadow: inset 0px 2px 2px 0 #942718;
    color: #ffffff;
}

/*CATALOG*/
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 10px 14px;
    padding: 0;
}

.next-page-catalog {
    margin-bottom: 46px;
}

.border-img {
    margin: 0 13px;
    border-radius: 50%;
}
.catalog-item {
    position: relative;
    width: 293px;
    list-style: none;
    min-height: 350px;
    padding-top: 4px;
}

.next-page-catalog .catalog-item {
    margin-bottom: 10px;
}

.hit::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 13px;
    
    width: 61px;
    height: 61px;
    background-image: url("../img/hit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item p {
    position: absolute;
    top: 165px;
    left: 13px;
}

.catalog-item:hover,
.catalog-item:focus {
    background: rgba(255, 255, 255, 0.2);
    width: 293px;
    margin-bottom: -40px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 10;
}

.visability {
    display: block;
    font-size: 18px;
    margin: 10px 50px 0 45px;
    padding: 13px 0;
    
    z-index: 10;
  
    display: none;
}

.catalog-item:hover .visability,
.catalog-item:focus .visability{
    display: block;
}


.catalog-list h3 {    
    margin: 0;
    margin-top: 9px;
    padding: 0 15px;
    font-weight: normal;
    text-align: center;
    line-height: 21px;
}

.catalog-list a{
    color: #ffffff;
}

.catalog-list a:first-child:hover,
.catalog-list a:first-child:focus,
.catalog-list a:first-child:active {
    color: #ffbc9e;
}

.catalog-list p {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list span {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/*ADVANTAGES*/
.advantages {
    display: flex;
    flex-wrap: wrap;
    
    min-height: 306px;
    background: #ddd1b7 url("../img/wafer.jpg");
    border-radius: 15px;
    margin: 0 26px;
    margin-bottom: 40px;
}

.head-advantages {
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
    color: #323232;
    margin: 0;
    padding: 25px 20px 6px;
}

.item-advantages {
    display: flex;
    flex-wrap: wrap;

    padding: 0 22px 0 76px;
    margin: 0;
    
}

.item-advantages li {
    position: relative;
    list-style: none;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 23px;

    color: #323232;
    width: 46%;
}

.item-advantages li:nth-child(odd) {
    margin-right: 83px;
}

.item-advantages li::before {
    content: "";
    position: absolute;
    width: 49px;
    height: 49px;
    left: -57px;
    top: -13px;
}

.icon-icecream::before {
    content: "";
    background: url("../img/icecream.svg") no-repeat;
}

.icon-leaf::before {
    content: "";
    background: url("../img/leaf.svg") no-repeat;
}


.icon-cow::before {
    content: "";
    background: url("../img/cow.svg") no-repeat;
}

.icon-thermometer::before {
    content: "";
    background: url("../img/thermometer.svg") no-repeat;
}

/*NEWS*/

.news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 26px;
    margin-bottom: 40px;
}
.last-news {
    width: 560px;
    min-height: 220px;
    background: #ffffff url("../img/strawberry-bg.jpg") no-repeat;
    border-radius: 15px;
}

.last-news h3 {
    font-size: 16px;
    font-weight: normal;
    color: #323232;
    margin: 0;
    padding: 24px 170px 0 20px;
}

.last-news p {
    width: 285px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding: 5px 20px 10px;
}

.last-news a {
    color: #323232;
}

.last-news a:hover,
.last-news a:focus,
.last-news a:active {
    color: #e84d37;
}

.dispatch {
    width: 560px;
    min-height: 220px;
    background-image: repeating-linear-gradient(-60deg,
#f8f7f4 5px,
#92cdff 5px, #92cdff 10px,
#f8f7f4 10px, #f8f7f4 15px, 
#fe9e90 15px, #fe9e90 20px,
#f8f7f4 20px, #f8f7f4 25px,
#92cdff 25px);
    border-radius: 15px;
}

.light-bg {
    position: relative;
    width: 549px;
    min-height: 211px;
    border-radius: 10px;
    background-color: #f8f7f4; 
    margin: 4px 5px;
}

.dispatch p {
    width: 506px;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 29px 20px 36px;
    color: #5a5a5a;
}

.email-box {
    width: 338px;
    min-height: 42px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    margin: 0 20px;
    margin-bottom: 30px;
    padding: 1px 13px;
    font-size: 16px;
    outline: 0;
}

.email-box:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding: 0 12px;
}

.email-box:active,
.email-box:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding: 0 12px;
}

.news-button {
    margin: 0px;
    margin-left: -10px;
    
    padding: 12px 18px;
}

/*MAP*/
.map {
    position: relative;
    width: 1200px;
    background-image: url("../img/map.jpg");
    background-repeat:  no-repeat;
}


.contacts {
    position: absolute;
    right: 27px;
    top: 60px;
    
    width: 252px;
    min-height: 283px;
    background-color: #ffffff;
    color: #323232;
    
    padding: 25px 25px 0 25px;
    border-radius: 15px;
}

.main-contacts {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.contacts p {
    margin: 5px 0;
    line-height: 20px;
}

.contacts p:nth-child(2) {
    padding-bottom: 16px;
}

.contacts p:nth-child(3) {
    line-height: 24px;
}

.contacts-button {
    margin-top: 16px;
    padding: 12px 26px;
}

/*FOOTER*/

.main-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    
}

.main-footer  a:hover,
.main-footer a:focus,
.main-footer  a:active{
    color: #ffbc9e;
}

/*SOCIAL*/
.footer-social {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 255px;
    margin-top: 4px;
    margin-left: -13px;
    
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
}

.social-button {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-buttons li {
    margin-right: 13px;
    margin-bottom: 10px;
    list-style: none;
}

.social-button-tw::before {
    content: "";
    background-image:  url("../img/tw.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.social-button-inst::before {
    content: "";
    background:  url("../img/inst.svg") no-repeat;
    width: 32px;
    height: 32px;
}

.social-button-fb::before {
    content: "";
    background:  url("../img/fb.svg") no-repeat;
    width: 32px;
    height: 32px;
}

.social-button-vk::before {
    content: "";
    background:  url("../img/vk.svg") no-repeat;
    width: 32px;
    height: 32px;
}

.social-button:hover,
.social-button:focus {
    opacity: 1;
}

.social-button:active {
    opacity: 0.9;
}


/*OTHER INFO*/
.footer-info {
    width: 370px;
    margin-left: 165px
}

.sub-info {
    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
    
}

.sub-info a {
    color: #ffffff;
    font-size: 13px;
}

.sub-info li {
    width: 165px;
    margin-bottom: 6px;
    margin-right: -20px;
}

.for-suppliers{
    position: relative;
}

.for-suppliers::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 2px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    width: 15px;
    height: 13px;
}

/*COPYRIGHT*/
.footer-copyright {
    width: 195px;
    margin: 0 21px 0 206px;
}

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
}

.footer-copyright p {
    margin-top: -1px;
}

.footer-copyright a {
    color: #ffffff;  
}

/*FEEDBACK*/
.modal {
    position: fixed;
    background-color: #f8f7f4;
    border-radius: 10px; 
}

.modal-feedback {
    top: 340px;
    left: 50%;
    width: 456px;
    min-height: 443px;
    
    padding-left: 22px;
    margin-left: -230px;
    
    display: none;
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 34px;
    width: 18px;
    height: 18px;
    font-size: 0;
    background-color: transparent;
    border: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;
  width: 20px;
  height: 2px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback h2 {
    margin: 24px 0;
    font-size: 24px;
    font-weight: normal;
    color: #323232;
}

.info-box {
    width: 239px;
    min-height: 42px;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    padding: 1px 13px;
    font-size: 16px;
    margin-bottom: 20px;
    outline: 0;
}

.info-box:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding: 0 12px;
}

.info-box:active,
.info-box:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding: 0 12px;
}

.textarea {
    width: 398px;
    min-height: 130px;
    font-size: 16px;
    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    padding: 11px 15px;
    margin-bottom: 25px;
    outline: 0;
}

.textarea:hover {
    border: solid 2px rgba(154, 154, 154, 0.52);
    padding: 10px 14px;
}

.textarea:active,
.textarea:focus {
    border: solid 2px rgba(46, 136, 228, 0.52);
    padding: 10px 14px;
}

.feedback-button {
    padding: 13px 24px;
    margin-left: 292px;
    margin-bottom: 25px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background: rgba(255, 255, 255, 0.3);
        
    display: none;
}

/*SECOND PAGE*/

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: -49px;
    margin-bottom: 3px;
    margin-left: 26px;
}

.breadcrumbs a{
    color: #ffffff;
    font-weight: normal;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: #ffbc9e;
}

.breadcrumbs li {
    position: relative;
    margin-right: 20px;
    
    list-style: none;
}

.breadcrumbs a::after {
    content: "»";
    position: absolute;
    top: 0px;
    right: -17px;
    text-decoration: none;
}

h1 {
    font-size: 35px;
}

.page-title {
    margin: 0;
    margin-bottom: 24px;
    margin-left: 26px;
    padding: 0;
}

/*FILTER*/

.filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: 18px;
    margin-bottom: 10px;
}

fieldset {
    border: none;
    margin: 5px 0 0;
    margin-right: -8px;
}

/*SORTING*/
.sorting {
    width: 194px;
    height: auto;
    outline: 0; 
    position: relative;
}

.sorting select {
    background-color: rgba(255, 255, 255, 0.2);
    width: 194px;
    min-height: 37px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50px;
    color: #ffffff;
    padding: 8px 10px;
    font-size: 16px;
    outline: 0; 
}

.select-arrow {
    position: absolute;
    top: 34px;
    right: 25px;
}

.sorting:hover path,
.sorting:focus path{
    fill: #323232;
    transform: scale(0.6)
}

.sorting:active path{
    fill: #323232;
    transform: scale(0.6)
}

.sorting legend {
    padding-left: 14px;
}

.sorting select:hover,
.sorting select:focus {
    color: #323232;
}

.sorting select:active {
    color: #323232;
    background-color: #ffffff;
}

.sorting option {
    color: #323232;
}

/*PRICE*/
.price {
    width: 220px;
}

.range-controls {
    width: 220px;
    height: 37px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    
    position: relative;
    
    
}

.scale {
    position: absolute;
    top: 17px;
    left: 22px;
    height: 4px;
    width: 176px;

    background: rgba(255, 255, 255, 0.5);
}

.bar {
    width: 100px;
    height: 4px;
    margin-left: 32px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 5px;
    height: 5px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle-min {
    top: 9px;
    left: 35px;
}

.range-toggle-max {
    top: 9px;
    left: 133px;
}

.range-toggle:hover,
.range-toggle:focus {
    transform: scale(1.2)
}

.range-controls .scale + range-toggle{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.price legend {
    padding-left: 14px;
}

/*FAT*/
.fat legend {
    padding-left: 15px;
}

.filter-option {
    padding: 9px 0;
    margin-right: 49px;
    font-size: 16px;
}

.filter-option:last-child {
    margin-right: 0px;
}

.filter-option:first-child {
    padding-left: 7px;
} 

.filter-option label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -31px;
  top: -1px;

  width: 20px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -1px;
  left: -32px;

  width: 24px;
  height: 20px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.8;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -32px;
  top: -3px;

  width: 17px;
  height: 17px;
  
  border: 3px solid #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input:disabled + label {
  color: #ffffff;

  opacity: 0.5;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -25px;

  width: 9px;
  height: 9px;

  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.8;
}

.fat-filter {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    width: 377px;
    min-height: 37px;
    align-items: center;
    margin: 0;
}

/*FILLERS*/
.fillers legend { 
    padding-left: 14px;
    margin-bottom: -15px;
}

.fillers .filter-option {
    margin-right: 53px;
}

.fillers .filter-option:last-child {
    margin-right: 0;
}

.fillers-filter {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    width: 660px;
    min-height: 37px;
    align-items: center;
    font-size: 16px;
}


.filter-button {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px #ffffff;
    border-radius: 50px;
    min-width: 145px;
    height: 36px;
    color: #ffffff;
    font-size: 16px;
    outline: 0;

    margin-top: 27px;
    margin-left: 10px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #ffffff;
    color: #323232;
}

.filter-button:active {
    background-color: #ededed;
    box-shadow: inset 0px 2px 1px 0 #696969;
    color: #323232;
}

.catalog-creamy {
    margin-bottom: 40px;
    
}

/*PAGINATION LIST*/

.pagination-list {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    list-style: none;
    margin-right: 29px;
    font-size: 16px;
    margin-bottom: 52px;
}

.pagination-list a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
 
}

.pagination-list::after {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    margin-left: 14px;
    margin-top: 4px;
}

.pagination-list::before {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    margin-right: 14px;
    margin-top: 4px;
    opacity: 0.2;
}

.pagination-item a:hover,
.pagination-item a:focus {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.current a{
    width: 27px;
    height: 26px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #323232;
}

.pagination-item a:active {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #323232;
}

.catalog-footer {
    position: relative;
}

.catalog-footer::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 26px;
    
    width: 1146px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
}
